body {
    height: 100vh;
    background: #0080ff;
    background-image: url("bg-1.png"), url("bg-2.png");
    background-repeat: repeat-x, repeat;
}

.text-justify {
    text-align:justify;
    text-justify:auto;
}
